@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

:root {
	--clr-black-900: hsl(207, 19%, 9%);
	--clr-gray-500: #6a7180;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
		@apply min-h-screen;
	}
}

@layer components {
	.icons {
		@apply w-6 h-6 sm:w-8 sm:h-8 cursor-pointer 
    hover:scale-125 transition-all duration-500 ease-out;
	}
}

.heading {
	font-size: clamp(2.7rem, 6vw, 7rem);
}

// Cards
.card {
	position: relative;
	transition: transform 500ms ease;
	overflow: hidden;
}

.card-content {
	--padding: 1rem;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: var(--padding);
	background: whitesmoke;

	@media only screen and (max-width: 478px) {
		--padding: 0.5rem;
	}
}

.card-title {
	position: relative;
	width: max-content;

	&::after {
		content: '';
		position: absolute;
		height: 3px;
		left: calc(var(--padding) * -1);
		bottom: -2px;
		width: calc(100% + var(--padding));
		background: var(--clr-gray-500);
		transform-origin: left;
		transition: transform 500ms ease;
	}
}

@media (hover) {
	.card-content {
		transform: translateY(100%);
		transition: transform 500ms ease;

		& > *:not(.card-title) {
			opacity: 0;
			transition: transform 500ms linear;
		}
	}

	.card:hover .card-title::after {
		transform: scaleX(1);
	}

	.card:hover .card-content {
		transform: translateY(0);
		transition-delay: 200ms;
	}

	.card:hover .card-content > *:not(.card-title) {
		opacity: 1;
	}

	.card-title::after {
		transform: scaleX(0);
	}
}
